html,body{height: 100%;}
*{margin: 0; padding: 0;}
:root{--basic-color: #8470FF;}

.open{height: 100%; background-color: var(--basic-color); text-align: center;}
.open p{padding-top: 200px; font-size: 40px; letter-spacing: 2px;}
.open button{display: block; margin: 20px auto; padding: 10px 50px; font-size: 20px; letter-spacing: 1px; background-color: #FFF; border: none; border-radius: 5px; outline: none; cursor: pointer;}
.open button:focus{background-color: rgba(255, 255, 255, .3); color: #FFF;}

.page{position: fixed; top: 0; left: 100%; width: 100%; height: 100%; background-color: #FFF; text-align: center; transition: 300ms all;}
.page.active{left: 0;}
.page-return{position: absolute; top: 20px; left: 40px; padding: 8px 10px; font-size: 12px; letter-spacing: 1px; color: var(--basic-color);  transition: 800ms all; background-color: transparent; border: 1px solid var(--basic-color); border-radius: 5px; outline: none; cursor: pointer;}
.page-return:hover{box-shadow: inset 0 0 34px 34px var(--basic-color); color: #FFF}
.page-main{margin: 150px auto; width: 500px; height: 500px; font-size: 0;}
.easy,.medium,.diff,.hell{display: inline-block; margin: 1px; border-radius: 5px; cursor: pointer;}
.easy{width: 32%; height: 32%;}
.medium{width: 16%; height: 16%;}
.hell{width: 11%; height: 11%;}
.diff{width: 10%; height: 10%;}

.shade{position: fixed; top: -100%; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,.4); transition: 500ms all;}
.shade.active{top: 0;}
.shade>div{box-sizing: border-box; padding: 50px; width: 300px; position: absolute; top: 25%; left: 50%; margin-left: -150px; background-color: tomato; border-radius: 10px;}
.shade>div p{font-size: 24px; font-weight: 600;}
.shade>div button{width: 100%; height: 50px; line-height: 50px; margin-top: 15px; font-size: 18px; background-color: #FFF; cursor: pointer; border-radius: 5px; border: none; outline: none;}
.shade>div button.hide{display: none;}

.itemBtn{position: relative; -webkit-tap-highlight-color: transparent;}
.itemBtn.easy{overflow: hidden;}
.itemBtn.easy:after{content: ''; position: absolute; top: -86px; right: -38px; width: 2px; height: 100px; background-color: #FFF; transform: rotate(45deg); transition: 800ms;}
.itemBtn.easy:before{content: ''; position: absolute; top: -86px; left: -38px; width: 2px; height: 100px; background-color: #FFF; transform: rotate(-45deg); transition: 800ms;}
.itemBtn.easy.active:after{top: 92%; right: calc(100% + 37px);}
.itemBtn.easy.active:before{top: 92%; left: calc(100% + 37px);}

.itemBtn.medium:after{content: ''; position: absolute; top: -6px; left: -6px; width: 10px; height: 10px; border-radius: 50%;}
.itemBtn.medium.active:after{background-color: #FFF; box-shadow: 0 0 3px 3px #FFF; animation: around 800ms linear;}
@keyframes around{
  25% {top: -6px; left: 75px;}
  50% {top: 75px; left: 75px;}
  75% {top: 75px; left: -6px;}
  100% {top: -6px; left: -6px;}
}

@media screen and (max-width: 500px){
  .open p{padding-top: 150px;}
  .open button{padding: 10px 55px;}
  .page-main{width: 360px; height: 360px;}
  .page-return{left: 20px;}
  .shade>div{top: 30%; padding: 30px; width: 260px; margin-left: -130px;}
}